<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApServer1" value="http://127.0.0.1:8090"/>
    <add key="ApServer2" value="http://127.0.0.1:8090"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
