<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="StudentBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFServiceGeneratedByConfig.StudentService">
                <endpoint address="net.tcp://127.0.0.1:50001/StudentServiceEndPoint"
                    binding="netTcpBinding" bindingConfiguration="" contract="WCFServiceGeneratedByConfig.IStudentService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://127.0.0.1:50001/StudentServiceEndPoint" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>